[data-index="0"] {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

[data-index="1"] {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

[data-index="2"] {
    border-bottom: 5px solid black;
}

[data-index="3"] {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

[data-index="4"] {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

[data-index="5"] {
    border-bottom: 5px solid black;
}

[data-index="6"] {
    border-right: 5px solid black;
}

[data-index="7"] {
    border-right: 5px solid black;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    height: 450px;
    width: 500px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 150px;   
    font-size: large;
    font-weight: bold;
}

h1 {
    align-self: center;
    justify-self: center;
    margin: 100px;
}

.screen {
    display: flex;
    flex-direction: column;
}

button {
    background-color: lavenderblush;
    padding: 10px 35px;
    border: 5px solid lightpink;
    border-radius: 15px;
    margin: 50px;
}

.below {
    display: flex;
}